* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #343a40;
    color: #e08524;
    font-family: 'Segeo UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: block;
    text-align: center;
    padding-top: 15vh;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

.logo {
    font-size: 62px;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.welcome {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 35px;
}

#myName {
    font-weight: 800;
}

.clock {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 45px;
    letter-spacing: 1px;
}

.footer {
   font-size: 28px;
   line-height: 1.6;
   padding: 0 40px;
   font-weight: 300;
}

.footer strong {
    font-weight: 700;
}